{% extends "base.html" %}
{{Super()}}
{% block page_content %}
<h1>Shows relevant Warnings from Zabbix events related to this system</h1>
<h3>Red badges will appear near the 'Alerts' link</h3>
{% endblock %}
