{% extends "base.html" %}
{% block page_content%}
  {% block shellframe %}
  <div class="wrapper">
    <div class="h_iframe">	  
      <iframe src="http://10.11.220.90:4200", width="100%", height="600", allowfullscreen></iframe>
    </div>
  </div>
  {% endblock%}
{% endblock %}
