{% extends "base.html" %}
{{Super()}}
{% block page_content %}
  <h3 align="center">The three wells below show ARI status data</h3>
  {% block statustickers %}
    <div class="well"><h4 align="center">{{channelwell | safe}}</div>
    <div class="well"><h4 align="center">{{channelin | safe}}</div>
    <div class="well"><h4 align="center">{{channelout | safe}}</div>
  {% endblock %}
  <h3 align="center">The validated form below allows for a test call to be initiated manually</h3> 
  {% block dialer %}
    <form method="POST" class="input" align="center">
	    {{f.number(size=42, class_="dialerform") | safe}}
    
    <input type="submit", value="Place Call Now"></input>
    </form>
  <p align="center">
    Easier than typing <code>channel originate Local/1000@aritest application wait 5</code> 
  </p>
  {% endblock %}
{% endblock %}
