{% extends "base.html" %}
{{Super()}}
{% block page_content%}
<h1>Live-Call Health Status for Asterisk</h1>
<h3>Login to continue</h3>
<p>If things are broken email <code>dstanton@cvent.com</code></p>
{% endblock %}
