.badge-red {
    background-color:#d44;
}

.navbar-default {
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF444444', endColorstr='#FF222222', GradientType=0);
  border: 1px solid #030303;
}

.dialerform {
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 13px 10px;
	opacity: .75;
	transition: opacity .2s ease-in;
}

.dialerform:hover {
	opacity: 1;
}

.navb {
	margin-top: 8px;
	opacity: .75;
	transition: opacity .2s ease-in;
}

.navb:hover {
	opacity: 1;
}
